body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
}

header {
    background: #1f2933;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #111827;
    padding: 10px;
    text-align: center;
}

nav button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

nav button:hover {
    background: #1d4ed8;
}

.card {
    background: white;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
}

button {
    padding: 10px 15px;
    background: #16a34a;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #15803d;
}

.hidden {
    display: none;
}

ul {
    list-style: square;
    padding-left: 20px;
}

footer {
    background: #1f2933;
    color: white;
    text-align: center;
    padding: 10px;
}

